.care-list {
  display: grid;
  gap: 32px;

  max-width: 568px;

  &__item {
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }

  &__img {
    // height: clamp(58px, 3.483rem + 0.71vw, 68px);
  }

  &__details {
    display: grid;
    gap: 8px;
  }

  &__title {}

  &__description {}
}